.main-page {
    scroll-snap-type: y mandatory;
    overflow-y: auto;
    height: 100vh;
    -ms-overflow-style: none;
    /* 适用于 IE 和 Edge 浏览器 */
    scrollbar-width: none;
    /* 适用于 Firefox */
}

.fullscreen-mainpage-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    position: relative;
    scroll-snap-align: start;
}

.logo-container {
    text-align: center;
}

.logo {
    width: 150px;
    height: auto;
}

.scroll-indicator {
    position: absolute;
    bottom: 20px;
    animation: bounce 2s infinite;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-10px);
    }

    60% {
        transform: translateY(-5px);
    }
}

.intro-section {
    z-index: 999;
    height: 100vh;
    padding: 40px 40px 0px 40px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    position: relative;
}

.intro-content {
    max-width: 600px;
    text-align: left;
}

.intro-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 40px;
    width: 100%;
    max-width: 1600px;
    margin: auto;
}

.intro-text {
    flex: 1;
    padding-right: 80px;
    text-align: justify;
}

.intro-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-image img {
    max-width: 100%;
    height: auto;
}

/* 添加批量操作按钮的样式 */
.batch-actions {
    margin-bottom: 15px;
    display: flex;
    gap: 10px;
}

/* 分页组件样式 */
.pagination {
    z-index: 100;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.rotating-image {
    position: absolute;
    transform: translate(-50%, -50%);
    animation: rotate 25s linear infinite;
}

@keyframes rotate {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.fullscreen-section {
    display: block;
    min-height: 88%;
    background-color: #f0f0f0;
    position: relative;
    scroll-snap-align: none;
    padding: 30px;
    margin-top: 60px;
}